@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Estufas";
}

<h2>Estufas</h2>

<div class="d-flex justify-content-center align-items-center mb-4 mt-4">
    <label class="font-weight-bold">Filtrar por:</label>
    <div class="d-flex gap-3 mr-2 ml-3">
        <input id="id" type="number" placeholder="Id" class="form-control w-auto mr-2"/>
        <input id="nome" type="text" placeholder="Nome" class="form-control w-auto mr-2"/>
    </div>
    <div>
        <input type="button" onclick="filtraEstufas()" class="btn btn-info" value="Filtrar" />
        <a class="btn btn-dark" href="/Estufas/Create">Novo</a>
    </div>
</div>

<div id="dadosEstufas"></div>

<script>
    function deletaRegistro(id) {
        const deveDeletar = confirm('Tem certeza que deseja excluir este registro?');
        if (deveDeletar)
            document.location.href = `/Estufas/Delete?id=${id}`;
    }

    function filtraEstufas() {
        const id = document.getElementById('id').value;
        const nome = document.getElementById('nome').value;

        $.ajax({
            url: "/estufas/ConsultaComFiltros",
            data: { id, nome },
            success: function (dados) {
                if (dados.erro) {
                    alert(dados.msg);
                }
                else {
                    document.getElementById('dadosEstufas').innerHTML = dados;
                }
            },
        });
    }

    window.onload = filtraEstufas;
</script>
