@{
	ViewData["Title"] = "Dashboard 1";
}

@section Styles {
	<link rel="stylesheet" href="~/css/dashboard.css" />
}

<h2 class="text-center">Temperatura de estufa em tempo real</h2>

<div>
	<div class="d-inline-flex w-100 justify-content-center align-items-center mb-3 mt-3">
		<div class="d-flex justify-content-center align-items-center">
			<input id="btnSetPoint" type="checkbox" class="filter-btn" value="set point" />
			<label class="mb-0 mr-4 ml-2">Exibir SetPoint</label>
		</div>
		<select id="Estufa" name="Estufa" asp-items="ViewBag.Estufas" class="form-control w-25 mr-1"></select>
		<input type="button" class="filter-btn start ml-1" onclick="iniciaChart()" />
	</div>
</div>

<span id="temperaturaAtual" class="d-block text-center h5"></span>

<canvas id="temperatureChart" width="1000" height="450" style="background-color: white;"></canvas>

@section Scripts {
	<script>
		const estufas = @Html.Raw(ViewBag.JsonEstufas);
		let estufaSelecionada;

		let temperatureChart;
		let maiorTimestamp;
		let pontosAcumulados = [];
		const qtdeMaximaDePontos = 1000;
		const annotations = {}
		let intervalGrafico;

		const SET_POINT = 40;

		function montaChart() {
			const ctx = document.getElementById('temperatureChart').getContext('2d');

			temperatureChart = new Chart(ctx, {
				type: 'line',
				data: {
					datasets: [
						{
							label: 'Temperatura (°C)',
							data: pontosAcumulados,
							borderColor: 'rgba(75, 192, 192, 1)',
							backgroundColor: 'rgba(75, 192, 192, 0.2)',
							tension: 0.1
						},
					]
				},
				options: {
					scales: {
						x: {
							type: 'time',
							time: {
								tooltipFormat: 'dd/MM/yyyy HH:mm:ss',
								displayFormats: {
									second: 'dd/MM/yyyy HH:mm:ss',
									minute: 'dd/MM/yyyy HH:mm:ss',
									hour: 'dd/MM/yyyy HH:mm:ss'
								}
							},
							title: {
								display: true,
								text: 'Data e Hora'
							}
						},
						y: {
							title: {
								display: true,
								text: 'Temperatura (°C)'
							}
						}
					},
					plugins: {
						annotation: {
							annotations
						},
						legend: {
							display: true
						}
					},
				}
			});
		}

		function iniciaChart() {
			if (intervalGrafico)
				clearInterval(intervalGrafico);

			// limpa todos os pontos
			pontosAcumulados.splice(0, pontosAcumulados.length);
			maiorTimestamp = new Date();
			document.getElementById('temperaturaAtual').innerHTML = '';

			const idEstufaSelecionada = document.getElementById('Estufa').value;
			estufaSelecionada = estufas.find(e => e.Id == idEstufaSelecionada);

			montaRangesTemperatura(estufaSelecionada.TemperaturaMinima, estufaSelecionada.TemperaturaMaxima);
			updateChart();
			obtemTemperaturaAtual();
			intervalGrafico = setInterval(() => {
				updateChart();
				obtemTemperaturaAtual();
			}, 2000);
		}

		function updateChart() {
			$.ajax({
				url: `@(Url.Action("DadosHistoricosDispositivo", "Dashboards"))?entityNameID=${estufaSelecionada.Medidor.Id}`,
				method: 'GET',
				success: function (data) {
					const dadosNaRequisicao = JSON.parse(data).contextResponses[0].contextElement.attributes[0].values
					let dadosParaInserir = dadosNaRequisicao.filter(d => new Date(d.recvTime) > maiorTimestamp);

					if (dadosParaInserir.length > 0) {
						maiorTimestamp = new Date(dadosParaInserir[dadosParaInserir.length - 1].recvTime);
						insereDadosNoGrafico(dadosParaInserir);
					}
					temperatureChart.update();
				}
			});
		}

		function montaRangesTemperatura(tempMinima, tempMaxima) {
			annotations.tempMinima = {
				type: 'line',
				yMin: tempMinima,
				yMax: tempMinima, // linha horizontal no Y = 30
				borderColor: 'red',
				borderWidth: 2,
				label: {
					display: true,
					content: `Temperatura Mín.: ${tempMinima}°C`,
					position: 'end',
					backgroundColor: 'rgba(255,0,0,0.2)',
					color: 'red',
					yAdjust: -10
				}
			}
			annotations.tempMaxima = {
				type: 'line',
				yMin: tempMaxima,
				yMax: tempMaxima, // linha horizontal no Y = 30
				borderColor: 'red',
				borderWidth: 2,
				label: {
					display: true,
					content: `Temperatura Máx.: ${tempMaxima}°C`,
					position: 'end',
					backgroundColor: 'rgba(255,0,0,0.2)',
					color: 'red',
				}
			}
		}

		function toggleSetPoint() {
			const btnSetPoint = document.getElementById('btnSetPoint')
			const deveMostrarSetPoint = btnSetPoint.checked;
			if (deveMostrarSetPoint) {
				annotations.setPoint = {
					type: 'line',
					yMin: SET_POINT,
					yMax: SET_POINT, // linha horizontal no Y = 30
					borderColor: 'red',
					borderWidth: 2,
					label: {
						display: true,
						content: `SP.: ${SET_POINT}°C`,
						position: 'end',
						backgroundColor: 'rgba(255,0,0,0.2)',
						color: 'red',
						yAdjust: -10
					}
				}
			} else {
				annotations.setPoint = undefined;
			}
			temperatureChart.update();
		}

		function insereDadosNoGrafico(dados) {
			dados.forEach(d => {
				pontosAcumulados.push({
					x: new Date(d.recvTime),
					y: d.attrValue
				});
			});
			if (pontosAcumulados.length > qtdeMaximaDePontos) {
				const qtdeParaLimpar = pontosAcumulados.length - qtdeMaximaDePontos;
				pontosAcumulados.splice(0, qtdeParaLimpar);
			}
			console.log(pontosAcumulados);
		}

		function obtemTemperaturaAtual() {
			$.ajax({
				url: `@(Url.Action("DadosAtuaisDispositivo", "Dashboards"))?entityNameID=${estufaSelecionada.Medidor.Id}`,
				method: 'GET',
				success: function (data) {
					const dadosTemperatura = JSON.parse(data).temperatura;
					const temperaturaAtual = dadosTemperatura.value;
					const dataMedicao = new Date(dadosTemperatura.metadata.TimeInstant.value);
					document.getElementById('temperaturaAtual').innerHTML = `Última Temperatura Registrada: ${temperaturaAtual}°C (${formataTimestamp(dataMedicao)})`;
				}
			});
		}

		function formataTimestamp(datahora) {
			return datahora.toLocaleString('pt-BR', {
			  day: '2-digit',
			  month: '2-digit',
			  year: 'numeric',
			  hour: '2-digit',
			  minute: '2-digit',
			  second: '2-digit'
			}).replace(',', '');
		}

		window.onload = () => {
			montaChart();
		}

		document.getElementById('btnSetPoint').addEventListener('click', toggleSetPoint);
	</script>
}

