@{
    ViewData["Title"] = "Dashboards";
}

<div class="container py-5">
    <div class="d-flex justify-content-center">

        <!-- Card 1 -->
        <div class="col-3">
            <div class="card text-center h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Dashboard 1</h5>
                    <a href="/Dashboards/Dashboard1"><img src="~/imgs/icone_dashboard.png" /></a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-3">
            <div class="card text-center h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Dashboard 2</h5>
                    <a href="/Dashboards/Dashboard2"><img src="~/imgs/icone_dashboard.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>