@{
    ViewData["Title"] = "Dashboards";
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

<div class="dashboard-container">

    <!-- Card 1 -->
    <div class="dashboard-card d-flex flex-column align-items-center">
        <h5 class="card-title">Temperatura em Tempo Real</h5>
        <a href="/Dashboards/Dashboard1"><img src="~/imgs/icone_dashboard.png" /></a>
    </div>

    <!-- Card 2 -->
    <div class="dashboard-card d-flex flex-column align-items-center">
        <h5 class="card-title">Histórico de Temperatura</h5>
        <a href="/Dashboards/Dashboard2"><img src="~/imgs/icone_dashboard.png" /></a>
    </div>
</div>