@using Weathuino.Enums
@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">

        @if (ViewBag.DadosSessao?.PerfilAcesso == PerfisAcesso.ADMIN)
        {
            <!-- Card 1 -->
            <div class="col">
                <div class="card text-center h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Usuários</h5>
                        <a href="/Usuarios"><img src="~/imgs/icone_usuario.png" /></a>
                    </div>
                </div>
            </div>
        }

        <!-- Card 2 -->
        <div class="col">
            <div class="card text-center h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Medidores</h5>
                    <a href="/Medidores"><img src="~/imgs/icone_sensor.png" /></a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col">
            <div class="card text-center h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Estufas</h5>
                    <a href="/Estufas"><img src="~/imgs/icone_estufa.png" /></a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col">
            <div class="card text-center h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Dashboards</h5>
                    <a href="/Dashboards"><img src="~/imgs/icone_dashboard.png" /></a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col">
            <div class="card text-center h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Sobre</h5>
                    <a href="/Sobre"><img src="~/imgs/icone_sobre.png" /></a>
                </div>
            </div>
        </div>

    </div>
</div>