@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Medidores";
}

@section Styles {
	<link rel="stylesheet" href="~/css/crud.css" asp-append-version="true" />
}

<h2>Medidores</h2>
@if (ViewBag.AlertaErro != null)
{
	<span class="text-danger">@ViewBag.AlertaErro</span>
	<br />
	<br />
}


<!-- Filtro e Novo -->

<div class="filter-container">
	<div class="filter-inputs">
		<input id="id" type="number" placeholder="Id" class="filter-input id-input" />
		<input id="nome" type="text" placeholder="Nome" class="filter-input name-input" />
	</div>
	<ul class="filter-menu">
		<li class="filter-btn filter" onclick="filtraMedidores()"></li>
		<li class="filter-btn create" onclick="window.location.href='/Medidores/Create'"></li>
	</ul>
</div>

<div id="dadosMedidores"></div>
@section Scripts {
	<script src="~/js/medidores.js"></script>
}