@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Medidores";
}

<h2>Medidores</h2>
@if (ViewBag.AlertaErro != null)
{
    <span class="text-danger">@ViewBag.AlertaErro</span>
}

<div class="d-flex justify-content-center align-items-center mb-4 mt-4">
    <label class="font-weight-bold">Filtrar por:</label>
    <div class="d-flex gap-3 mr-2 ml-3">
        <input id="id" type="number" placeholder="Id" class="form-control w-auto mr-2"/>
        <input id="nome" type="text" placeholder="Nome" class="form-control w-auto mr-2"/>
    </div>
    <div>
        <input type="button" onclick="filtraMedidores()" class="btn btn-info" value="Filtrar" />
        <a class="btn btn-dark" href="/Medidores/Create">Novo</a>
    </div>
</div>

<div id="dadosMedidores"></div>

<script>
    function deletaMedidor(id) {
        const deveDeletar = confirm('Tem certeza que deseja excluir este medidor?');
        if (deveDeletar)
            document.location.href = `/Medidores/Delete?id=${id}`;
    }
    
    function filtraMedidores() {
        const id = document.getElementById('id').value;
        const nome = document.getElementById('nome').value;

        $.ajax({
            url: "/medidores/ConsultaComFiltros",
            data: { id, nome },
            success: function (dados) {
                if (dados.erro) {
                    alert(dados.msg);
                }
                else {
                    document.getElementById('dadosMedidores').innerHTML = dados;
                }
            },
        });
    }

    window.onload = filtraMedidores;
</script>
