@model List<MedidorViewModel>

<table class="table table-bordered">
    <tr>
        <th class="col-1">Ações</th>
        <th class="col-1">ID</th>
        <th class="col-6">Nome</th>
        <th class="col-2">Última Medição</th>
    </tr>

    @foreach (MedidorViewModel medidor in Model)
    {
        <tr>
            <td>
                <div class="d-flex justify-content-around">
                    <a href="/Medidores/Edit?id=@medidor.Id"><img class="icone-crud" src="~/imgs/icone_lapis.png" /></a>
                    <a href="javascript:deletaMedidor(@medidor.Id)"><img class="icone-crud" src="~/imgs/icone_lixeira.png" /></a>
                    <a href="/Medidores/View?id=@medidor.Id"><img class="icone-crud" src="~/imgs/icone_olho.png" /></a>
                </div>
            </td>
            <td>@medidor.Id</td>
            <td>@medidor.Nome</td>
            @if (medidor.DataUltimoRegistro == null)
            {
                <td class="font-italic">Sem registros</td>
            }
            else
            {
                <td>@medidor.DataUltimoRegistro?.ToLocalTime()</td>
            }
        </tr>
    }
</table>
<style>
    .icone-crud {
        width: 1.1em;
    }
</style>