@model List<MedidorViewModel>

<table>
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Device ID (Fiware)</th>
    </tr>

    @foreach (MedidorViewModel medidor in Model)
    {
        <tr>
            <td>
                <ul class="action-menu">
                    <li class="action-btn edit" onclick="window.location.href='/Medidores/Edit?id=@(medidor.Id)'"></li>
                    <li class="action-btn delete" onclick="deletaMedidor(@medidor.Id)"></li>
                    <li class="action-btn view" onclick="window.location.href='/Medidores/View?id=@(medidor.Id)'"></li>
                </ul>
            </td>
            <td>@medidor.Id</td>
            <td>@medidor.Nome</td>
            <td>@medidor.DeviceIdFiware</td>
        </tr>
    }
</table>
<style>
    .icone-crud {
        width: 1.1em;
    }
</style>