@model List<UsuarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Usuários";
}

<h2>Usuários</h2>

<div class="d-flex justify-content-center align-items-center mb-4 mt-4">
    <label class="font-weight-bold">Filtrar por:</label>
    <div class="d-flex gap-3 mr-2 ml-3">
        <input id="id" type="number" placeholder="Id" class="form-control w-auto mr-2" />
        <input id="nome" type="text" placeholder="Nome" class="form-control w-auto mr-2" />
        <input id="email" type="text" placeholder="E-mail" class="form-control w-auto mr-2" />
    </div>
    <div>
        <input type="button" onclick="filtraUsuarios()" class="btn btn-info" value="Filtrar"/>
        <a class="btn btn-dark" href="/Usuarios/Create">Novo</a>
    </div>
</div>

<div id="dadosUsuarios"></div>
<script >
    function filtraUsuarios() {
        const id = document.getElementById('id').value;
        const nome = document.getElementById('nome').value;
        const email = document.getElementById('email').value;

        $.ajax({
            url: "/usuarios/ConsultaComFiltros",
            data: { id, nome, email },
            success: function (dados) {
                if (dados.erro) {
                    alert(dados.msg);
                }
                else {
                    document.getElementById('dadosUsuarios').innerHTML = dados;
                }
            },
        });
    }

    window.onload = filtraUsuarios;
</script>