@model List<UsuarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Usuários";
}

@section Styles {
    <link rel="stylesheet" href="~/css/crud.css" asp-append-version="true" />
}

<h2>Usuários</h2>

<div class="filter-container">
    <div class="filter-inputs">
        <input id="id" type="number" placeholder="Id" class="filter-input id-input" />
        <input id="nome" type="text" placeholder="Nome" class="filter-input name-input" />
        <input id="email" type="text" placeholder="E-mail" class="filter-input name-input" />
    </div>
    <ul class="filter-menu">
        <li class="filter-btn filter" onclick="filtraUsuarios()"></li>
        <li class="filter-btn create" onclick="window.location.href='/Usuarios/Create'"></li>
    </ul>
</div>

<div id="dadosUsuarios"></div>

@section Scripts {
    <script src="~/js/usuarios.js"></script>
}