@using Weathuino.Enums

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Weathuino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @if (!@ViewData["Title"].Equals("Login"))
    {
        <div class="sidebar" id="sidebar">
            <button class="menu-btn" onclick="toggleSidebar()"></button>
            <br />
            <br />
            <br />
            <ul class="menu">
                <li class="menu-item heat">
                    <a asp-controller="Estufas" asp-action="Index">
                        <span>Estufas</span>
                    </a>
                </li>
                <li class="menu-item sensor">
                    <a asp-controller="Medidores" asp-action="Index"><span>Medidores</span></a>
                </li>
                <li class="menu-item graph">
                    <a asp-controller="Dashboards" asp-action="Index"><span>Dashboards</span></a>
                </li>
                @if (ViewBag.DadosSessao?.PerfilAcesso == PerfisAcesso.ADMIN)
                {
                    <li class="menu-item user">
                        <a asp-controller="Usuarios" asp-action="Index"><span>Usuários</span></a>
                    </li>
                }
                <li class="menu-item about">
                    <a asp-controller="Sobre" asp-action="Index"><span>Sobre Nós</span></a>
                </li>
                <li class="menu-item">
                    <a asp-controller="Autenticacao" asp-action="Logoff" style="padding: 0; padding-left: 1em;"><span>Sair</span></a>
                </li>
            </ul>
            <div class="menu-item dark-mode-toggle">
                <button onclick="toggleDarkMode()"><span>Modo Escuro</span></button>
            </div>
        </div>

        @if (ViewContext.RouteData.Values["action"].Equals("Index")) {
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/logo.png" alt="Weathuino" />
                </a>
            </div>
        }
    }
    <div class="main-content" id="mainContent">
        <main class="container pt-4">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/sidebar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.9/dist/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0/dist/chartjs-plugin-annotation.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
